.title{width:100%;height:1.31rem;background:url("/assets/img/h5/6_1.png") no-repeat top center;background-size:cover;}
.content{width:6.8rem;text-align:left;font-size:0.2rem;margin:0 auto;margin-top:0.3rem;text-align:center;}
img{width:5.6rem;height:7.78rem;margin:0 auto;margin-top:0.3rem;margin-bottom:2rem;}