.title1{width:100%;height:1.31rem;background:url("/assets/img/h5/3_1.png") no-repeat top center;background-size:cover;}
.title2{width:100%;height:1.29rem;background:url("/assets/img/h5/3_10.png") no-repeat top center;background-size:cover;}
.container,.container_c{width: 6.8rem;margin:0 auto;padding-top:0.3rem;}
.container_c{margin-bottom:0.4rem;}
/*Tab*/
.tag,.tag_c{width:1.42rem;height:0.42rem;border:0.02rem solid #666;background-color:transparent;position:relative;display:inline-block;font-size:0.24rem;letter-spacing:0.01rem;text-align:center;line-height:0.4rem;cursor:pointer;/*设置圆角*/-webkit-border-radius:0.05rem;-moz-border-radius:0.05rem;border-radius:0.05rem;}
.tag:before,.tag:after,.tag_c:before,.tag_c:after{content:"";display:block;border-width:0.15rem;position:absolute;bottom:-0.3rem;left:0.6rem;border-style:solid dashed dashed solid;border-color:#666 transparent transparent transparent;font-size:0;line-height:0;}
.tag:after,.tag_c:after{bottom:-0.27rem;border-color: #FFF transparent transparent transparent;}
.tag.active,.tag_c.active{border:0.02rem solid red;color:#FFF;background-color:red;}
.tag.active:before,.tag.active:after,.tag_c.active:before,.tag_c.active:after{border-color:red transparent transparent transparent;}
.circle,.circle_c{position:absolute;width:0.12rem;height:0.12rem;border-radius:50%;}
.one{margin:-0.17rem 0 0 0.7rem;background: #d8d8d8;}
.two {margin: -0.17rem 0 0 2.8rem;background: #d8d8d8;}
.circle:after,.circle_c:after{content:'';margin:0.03rem;display:table;width:0.06rem;height:0.06rem;border-radius:50%;}
.one.active,.two.active{background: red;}
/*content*/
.tab_content:after,.tab_content_c:after{clear: both;content:" ";display:block;}
.container li,.container_c li{float:left;margin-top:0.3rem;width:6.8rem;height:3.62rem;border-radius:0.05rem;border:0.01rem solid #d9d9d9;overflow:hidden;}
.container li a,.container_c li a{ display:block;color:#FFF;text-align:center}
.container li a b,.container_c li a b{display:block; height:2.98rem;}
.container li a img,.container_c li a img{margin: 0 auto;width:6.79rem;height:2.98rem;}
.report_foot{ display:block; height:0.6rem;background-color:#FFF;color:#999; }
.report_name{font-size:0.24rem;letter-spacing:0.01rem;display:inline-block;margin-left:-1.6rem;height:0.59rem;line-height:0.59rem}
.report_btn{height:0.59rem;color:#666;text-align:center;float:right;margin-right:0.3rem;line-height:0.59rem;font-size:0.24rem;}
.line1{width:0.63rem;height:0.02rem;background-color:#d8d8d8;overflow:hidden;display:inline-block;}
.line2{width:1.84rem;height:0.02rem;background-color:#d8d8d8;overflow:hidden;margin-left:0.15rem;display:inline-block;}
.line3{width:3.8rem;height:0.02rem;background-color:#d8d8d8;overflow:hidden;margin-left:0.18rem;display:inline-block;}