.wrap div{width:100%}
.pg-help-main{width:100%;float:none;display:block;}
.pg-help-main .color-dark-text{color:#2b2b2b!important}
.pg-help-main .border-bt{border-bottom:1px solid #f4f4f4}
.pg-help-main .ui-box-white-bg{min-height:500px}
.ui-box-white-bg{border:0;}
.pg-help-index-info{padding:22px 5px 22px;}
.pg-help-index-info dt{width:7%}
.pg-help-index-info dd{line-height:20px}
.pg-help-index-info a{color:#666;display:inline-block;}
.pg-help-index-info dd>a:not(:first-child){margin-left:55px;}
.pg-help-index-info .active{height:25px;border-bottom:2px solid #95b1d6;color:#95b1d6;line-height:20px;display:inline-block;}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.fn-clear{zoom:1}
.pg-help-main .color-dark-text{color:#666!important}
body .fn-hide{display:none}
.fn-left,.fn-right{display:inline}
.fn-left{float:left;margin-left:0.25rem;letter-spacing:0.01rem;}
.fn-right{float:right}
.fn-text-overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fn-linear{background:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f1f1f1));background:-moz-linear-gradient(top,#fcfcfc,#f1f1f1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');background:-o-linear-gradient(top,#fcfcfc,#f1f1f1);background:linear-gradient(top,#fcfcfc,#f1f1f1)}
.fn-linear-light{background:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f9f9f9));background:-moz-linear-gradient(top,#fcfcfc,#f9f9f9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');background:-o-linear-gradient(top,#fcfcfc,#f9f9f9);background:linear-gradient(top,#fcfcfc,#f9f9f9)}
.fn-rmb{font-family:arial;font-style:normal;padding-right:4px}
.fn-webkit-adjust{-webkit-text-size-adjust:none}
.pg-help-list-box {min-height:3.38rem;line-height:0.3rem;}
.pg-help-list-box h4 {padding:0 0 4px}
.pg-help-list-box h4 a {color:#222}
.pg-help-list-box ul li {width:6.8rem;margin:0 auto;margin-bottom:0.3rem;}
.pg-help-list-box ul li:nth-child(3),.pg-help-list-box ul li:nth-child(8),.pg-help-list-box ul li:nth-child(14),.pg-help-list-box ul li:nth-child(16),.pg-help-list-box ul li:nth-child(18){margin-bottom:0;}
.pg-help-list-box ul li h5 {width:6.8rem;line-height:0.6rem;cursor:pointer;height:0.6rem;font-size:0.18rem;margin-top:0.3rem;letter-spacing:0.02rem;margin:0 auto;}
.pg-help-list-box ul li h5 p {letter-spacing:0.02rem;-webkit-margin-before:0;-webkit-margin-after:0;}
.pg-help-list-box ul li h5 .title {width:90%}
.pg-help-list-box ul li h5 {background-color:#f0f0f0;}
.pg-help-list-box .help-list-item {display:none;margin:0 0 0.1rem;padding:0.2rem 0.22rem;width:93%;word-wrap:break-word;}
.pg-help-list-box .help-list-item span{color:rgb(102, 102, 102);font-size:0.18rem;text-indent:0.36rem;}
.pg-help-list-box dl dt {color:#2b2b2b}
.pg-help-list-box dl dd:last-child {padding-bottom:0}
.pg-help-list-box dd img {max-width:100%}
.help-list-box {width:396px;min-height:170px;padding:10px 24px}
.help-list-box h4 {width:400px}
.help-list-box ul {width:440px}
.help-list-box ul li {float:left;width:128px;margin-right:10px;padding:5px 0}
.help-list-item{margin:0 0 0.1rem;padding:0.12rem 0.25rem;border-bottom:0.02rem solid #f0f0f0;border-right:0.02rem solid #f0f0f0;border-left:0.02rem solid #f0f0f0;}
.pg-help-list-box li i {-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.pg-help-list-box li i.fa-chevron-down {right: 0.12rem;left: auto;font-size: 0.16rem;margin-right:0.1rem;}
.pg-help-list-box li.open i {color: #666;}
.pg-help-list-box li.open i.fa-chevron-down {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
ul,li{list-style:none}
a{text-decoration:none;}
li {display: list-item;text-align: -webkit-match-parent;}
#qt0{width:100%;height:1.31rem;background:url("/assets/img/h5/2_1.png") no-repeat top center;background-size:cover;margin:0 auto;margin-bottom:0.3rem;}
#qt1{width:100%;height:1.29rem;background:url("/assets/img/h5/2_2.png") no-repeat top center;background-size:cover;margin:0 auto;margin-bottom:0.3rem;}
#qt2{width:100%;height:1.29rem;background:url("/assets/img/h5/2_3.png") no-repeat top center;background-size:cover;margin:0 auto;margin-bottom:0.3rem;}
#qt3{width:100%;height:1.29rem;background:url("/assets/img/h5/2_4.png") no-repeat top center;background-size:cover;margin:0 auto;margin-bottom:0.3rem;}
#qt4{width:100%;height:1.29rem;background:url("/assets/img/h5/2_5.png") no-repeat top center;background-size:cover;margin:0 auto;margin-bottom:0.3rem;}
#qt5{width:100%;height:1.29rem;background:url("/assets/img/h5/2_6.png") no-repeat top center;background-size:cover;margin:0 auto;margin-bottom:0.3rem;}