.title{width:100%;height:1.31rem;background:url("/assets/img/h5/5_1.png") no-repeat top center;background-size:cover;margin:0 auto;}
.content{width:6.8rem;margin:0 auto;font-size:0.24rem;color:#666;line-height:0.5rem;margin-bottom:0.3rem;}
.level1{font-weight:bold;margin-left:0.3rem;margin-top:0.3rem;}
hr{margin-top:0.3rem;margin-bottom:0.3rem;height:0.02rem;background-color:#666;}
.level2{text-align:center;}
.level3{text-align:right;}