{include file="about/header.html"}
<!--监管制度-->
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{literal}
<style>
	.wrap div{padding:0;}
	.pg-help-main{width:1140px;margin:0 auto;float:none;display:block;margin:30px 0 60px 30px;}/*
	.pg-help-main .border-bottom-dashed{border-bottom:1px solid #f4f4f4}*/
	.pg-help-main .color-dark-text{color:#2b2b2b!important}
	.pg-help-main .border-bt{border-bottom:1px solid #f4f4f4}
	.pg-help-main .ui-box-white-bg{min-height:500px}
	.ui-box-white-bg{border:0;}
	.pg-help-index-info{padding:22px 5px 22px;}
	.pg-help-index-info dt{width:7%}
	.pg-help-index-info dd{line-height:20px}
	.pg-help-index-info a{color:#000;display:inline-block;}
	.pg-help-index-info dd>a:not(:first-child){margin-left:55px;}
	.pg-help-index-info .active{height:25px;border-bottom:2px solid #95b1d6;color:#95b1d6;line-height:20px;display:inline-block;};
	.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
	.fn-clear{zoom:1}
	.pg-help-main .color-dark-text{color:#2b2b2b!important}
	body .fn-hide{display:none}
	.fn-left,.fn-right{display:inline}
	.fn-left{float:left;margin-left:25px;letter-spacing:1px;}
	.fn-right{float:right}
	.fn-text-overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
	.fn-linear{background:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f1f1f1));background:-moz-linear-gradient(top,#fcfcfc,#f1f1f1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');background:-o-linear-gradient(top,#fcfcfc,#f1f1f1);background:linear-gradient(top,#fcfcfc,#f1f1f1)}
	.fn-linear-light{background:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f9f9f9));background:-moz-linear-gradient(top,#fcfcfc,#f9f9f9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');background:-o-linear-gradient(top,#fcfcfc,#f9f9f9);background:linear-gradient(top,#fcfcfc,#f9f9f9)}
	.fn-rmb{font-family:arial;font-style:normal;padding-right:4px}
	.fn-webkit-adjust{-webkit-text-size-adjust:none}
	.pg-help-list-box {min-height:338px;line-height:30px;padding:0 25px 25px;}
	.pg-help-list-box h4 {padding:0 0 4px}
	.pg-help-list-box h4 a {color:#222}
	.pg-help-list-box ul li h5 {line-height:53px;cursor:pointer;height:58px;font-size:15px;margin-top:25px;letter-spacing:2px;}
	.pg-help-list-box ul li h5 p {letter-spacing:2px;}
	.pg-help-list-box ul li h5 .title {width:90%}
	.pg-help-list-box ul li h5 {background-color:#f0f0f0;}
	.pg-help-list-box .help-list-item {display:none;margin:0 0 10px;padding:12px 25px}
	.pg-help-list-box dl dt {color:#2b2b2b}
	.pg-help-list-box dl dd:last-child {padding-bottom:0}
	.pg-help-list-box dd img {max-width:100%}
	.help-list-box {width:396px;min-height:170px;padding:10px 24px}
	.help-list-box h4 {width:400px}
	.help-list-box ul {width:440px}
	.help-list-box ul li {float:left;width:128px;margin-right:10px;padding:5px 0}
	.help-list-item{margin:0 0 10px;padding:12px 25px;border-bottom:2px solid #f0f0f0;border-right:2px solid #f0f0f0;border-left:2px solid #f0f0f0;}
	.pg-help-list-box li i {-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
	.pg-help-list-box li i.fa-chevron-down {right: 12px;left: auto;font-size: 16px;margin-right:10px;}
	.pg-help-list-box li.open i {color: #000;}
	.pg-help-list-box li.open i.fa-chevron-down {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
	ul,li{list-style:none}
	a{text-decoration:none;}
	li {display: list-item;text-align: -webkit-match-parent;}
</style>
{/literal}
<div class="grid_10 pg-help-main mt10">
	<div class="ui-box-white-bg color-white-bg">
		<div id="accordion" class="pg-help-list-box help-list-invest">
			<ul class="question">
				<div style="margin:20px 0 0;">
					<div style="font-size:24px;display:inline-block;">网络借贷资金存管业务指引</div>
					<div style="font-size:14px;display:inline-block;margin-left:10px;"><a href="http://www.cbrc.gov.cn/govView_4201EF03472544038242EED1878597CB.html" target="_blank">点击查阅详情</a></div>
				</div>
				<div style="width:100%;height:0;margin-top:20px;border-top:1px solid #d9d9d9;"></div>
				<div style="margin:20px 0 0;">
					<div style="font-size:24px;display:inline-block;">网络借贷信息中介机构业务活动信息披露指引</div>
					<div style="font-size:14px;display:inline-block;margin-left:10px;"><a href="http://www.cbrc.gov.cn/govView_C8D68D4C980A4410B9F4E21BA593B4F2.html" target="_blank">点击查阅详情</a></div>
				</div>
				<div style="width:100%;height:0;margin-top:20px;border-top:1px solid #d9d9d9;"></div>
				<div style="margin:20px 0 0;">
					<div style="font-size:24px;display:inline-block;">网络借贷信息中介业务活动管理暂行办法</div>
					<div style="font-size:14px;display:inline-block;margin-left:10px;"><a href="http://www.cbrc.gov.cn/govView_37D312933F1A4CECBC18F9A96293F450.html" target="_blank">点击查阅详情</a></div>
				</div>
				<div style="width:100%;height:0;margin-top:20px;border-top:1px solid #d9d9d9;"></div>
				<div style="margin:20px 0 0;">
					<div style="font-size:24px;display:inline-block;">网络借贷信息中介机构备案登记管理指引</div>
					<div style="font-size:14px;display:inline-block;margin-left:10px;"><a href="http://www.cbrc.gov.cn/govView_E7B94B41E8C340E4833472632308AEC5.html" target="_blank">点击查阅详情</a></div>
				</div>
				<div style="width:100%;height:0;margin-top:20px;border-top:1px solid #d9d9d9;"></div>
				<div style="margin:20px 0 0;">
					<div style="font-size:24px;display:inline-block;">北京市网络借贷信息中介机构备案登记管理办法（试行）（征求意见稿）</div>
					<div style="font-size:14px;display:inline-block;margin-left:10px;"><a href="http://www.bjjrj.gov.cn/tztg/c44-a1889.html" target="_blank">点击查阅详情</a></div>
				</div>
				<div style="width:100%;height:0;margin-top:20px;border-top:1px solid #d9d9d9;"></div>
				<div style="margin:20px 0 0;">
					<div style="font-size:24px;display:inline-block;">关于做好P2P网络借贷风险专项整治整改验收工作的通知</div>
					<div style="font-size:14px;display:inline-block;margin-left:10px;"><a href="http://www.sohu.com/a/211166474_99975911" target="_blank">点击查阅详情</a></div>
				</div>
				<div style="width:100%;height:0;margin-top:20px;border-top:1px solid #d9d9d9;"></div>
				<div style="margin:20px 0 0;">
					<div style="font-size:24px;display:inline-block;">关于进一步加强校园贷规范管理工作的通知</div>
					<div style="font-size:14px;display:inline-block;margin-left:10px;"><a href="http://www.gov.cn/xinwen/2017-06/28/content_5206542.htm" target="_blank">点击查阅详情</a></div>
				</div>
				<div style="width:100%;height:0;margin-top:20px;border-top:1px solid #d9d9d9;"></div>
				<div style="margin:20px 0 0;">
					<div style="font-size:24px;display:inline-block;">关于整顿“现金贷”业务的通知</div>
					<div style="font-size:14px;display:inline-block;margin-left:10px;"><a href="http://www.p2pfy.com/20171203/3383.html" target="_blank">点击查阅详情</a></div>
				</div>
				<div style="width:100%;height:0;margin-top:20px;border-top:1px solid #d9d9d9;"></div>
			</ul>
		</div>
	</div>
</div>
<!--监管制度-->
{include file="about/footer.html"}