<!--底部-->
</div>
{literal}
     <style>
		.foot-header1{width:100%;height:156px;background:url(http://bzp2p-caiqilin.b0.upaiyun.com/cql_custom_pic/bottom/bottom.png) no-repeat center;}
		.foot-container1{width:100%;background-color:#262f3e;}
		.foot-main1{width:1200px;margin:0 auto;letter-spacing:1.5px;}
		.learnmore1{margin-top:28px;display: inline-block;vertical-align: top;}
		.info1{margin-top:28px;margin-left:78px;display:inline-block;vertical-align: top;}
		.insurance1{margin-top:28px;margin-left:78px;display:inline-block;vertical-align: top;}
		.dingyue1{margin-top:28px;margin-left:120px;display:inline-block;vertical-align: top;text-align: center;}
		.download1{margin-top:28px;margin-left:75px;display:inline-block;vertical-align: top;text-align: center;}
		.kefu1{margin-top:28px;margin-left:123px;display:inline-block;vertical-align: top;}
		.title-1{font-size:18px;color:#e4e4e4;margin-bottom:10px;}
		.title-2{margin-top:8px;}
		.title-2 a{font-size:14px;color:#999b9f;}
		.title-3{font-size:14px;color:#e4e4e4;margin-top:8px;}
		.title-tel{font-size:36px;color:#e4e4e4;margin-top:0px;}
		.title-4{font-size:14px;color:#b9babd;margin-top:-4px;}
                .title-5{margin-top:6px;font-size: 14px;color: #b9babd;}
		.line{width:1200px;height:0;border:1px solid #999b9f;margin:36px auto 0;}
		.footer1{width:1200px;margin:0 auto;letter-spacing:1.5px;}
		.coinfo1{margin-top:24px;margin-bottom:30px;display: inline-block;vertical-align: top;height:40px;}
		.cert1{margin-top:24px;margin-bottom:30px;margin-left:424px;display:inline-block;vertical-align: top;}
	</style>
{/literal}
	<div class="foot-header1"></div>
	<div class="foot-container1">
		<div class="foot-main1">
			<div class="learnmore1">
				<p class="title-1">了解更多</p>
				<p class="title-2"><a href="/about/more?id=7">使用流程</a></p>
				<p class="title-2"><a href="/about/more?id=4">活动信息</a></p>
				<p class="title-2"><a href="/about/more?id=13">招贤纳士</a></p>
				<p class="title-2"><a href="/about/more?id=19">联系我们</a></p>
				<p class="title-2"><a href="/about/more?id=1&reurl=5">免责条款</a></p>
			</div>
			<div class="info1">
				<p class="title-1">信息披露</p>
				<p class="title-2"><a href="/about/more?id=10&reurl=0">公司介绍</a></p>
				<p class="title-2"><a href="/about/more?id=10&reurl=1">公司资质</a></p>
				<p class="title-2"><a href="/about/more?id=10&reurl=3">股权结构</a></p>
				<p class="title-2"><a href="/about/more?id=16">运营报告</a></p>
				<p class="title-2"><a href="/about/more?id=10&reurl=5">合作伙伴</a></p>
			</div>
			<div class="insurance1">
				<p class="title-1">安全保障</p>
				<p class="title-2"><a href="/about/more?id=1&reurl=0">隐私保护</a></p>
				<p class="title-2"><a href="/about/more?id=1&reurl=1">政策法规</a></p>
				<p class="title-2"><a href="/about/more?id=1&reurl=2">项目风控</a></p>
				<p class="title-2"><a href="/about/more?id=1&reurl=3">账户安全</a></p>
				<p class="title-2"><a href="/about/more?id=1&reurl=4">银行存管</a></p>
			</div>
			<div class="dingyue1">
				<p class="title-1">关注订阅号</p>
				<p class="title-2"><img width="95px" height="95px" src="http://bzp2p-caiqilin.b0.upaiyun.com/cql_custom_pic/bottom/dingyue.png" /></p>
			</div>
			<div class="download1">
				<p class="title-1">下载APP</p>
				<p class="title-2"><img width="95px" height="95px" src="http://bzp2p-caiqilin.b0.upaiyun.com/cql_custom_pic/bottom/download.png" /></p>
			</div>
			<div class="kefu1">
				<p class="title-1">客服热线</p>
				<p class="title-tel">4008-95-2015</p>
				<p class="title-3">客服时间：9:00-17:00 (工作日)</p>
				<p class="title-3">邮箱：service@caiqilin.com</p>
			</div>
		</div>
		<div class="line"></div>
		<div class="footer1">
			<div class="coinfo1">
				<p class="title-4">北京彩麒麟互联网服务有限公司</p>
				<p class="title-5">© 2017 彩麒麟 All rights reserved 京ICP备17038878号-1</p>
			</div>
			<div class="cert1">
				<a href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.caiqilin.com&lang=zh_cn" target="_blank"><img width="90px" height="40px" src="http://bzp2p-caiqilin.b0.upaiyun.com/cql_custom_pic/bottom/01.png" /></a>
				<a href="https://ss.knet.cn/verifyseal.dll?sn=e15101311010560858ucld000000&ct=df&a=1&pa=0.5555033229973242" target="_blank"><img width="110px" height="40px" src="http://bzp2p-caiqilin.b0.upaiyun.com/cql_custom_pic/bottom/02.png" style="margin-left:5px;" /></a>
				<a href="http://si.trustutn.org/info?sn=163151009000283237445" target="_blank"><img width="110px" height="40px" src="http://bzp2p-caiqilin.b0.upaiyun.com/cql_custom_pic/bottom/03.png" style="margin-left:5px;" /> </a>
			</div>
		</div>
	</div>
{literal}
<!-- meiqia -->
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 23737);
</script>
<!-- meiqia -->        
{/literal}
</body>

</html>
<!--底部-->