{include file="h5/header.html"}
        <link rel="stylesheet" href="assets/css/h5/safe.css?v={$data.vtime}">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <div id="wrap" class="wrap">
            {include file="h5/nav.html"}
            <div class="grid_10 pg-help-main mt10">
                <div class="ui-box-white-bg color-white-bg">
                    <div id="accordion" class="pg-help-list-box help-list-invest">
                        <ul class="question">
                            <div id="qt0"></div>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">我们有哪些措施保障您的隐私安全？</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>彩麒麟严格遵守国家相关法律法规，对用户的隐私信息进行严格的保护，平台采用业界先进的加密技术，用户的注册信息、账户收支信息都已进行高强度的加密处理。</span>
                                        </p>
                                        <p>
                                            <span>彩麒麟设有严格的安全系统，未经允许，员工不可获取您的相关信息，也不会将您的账户信息、银行信息以任何形式透露给第三方。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">个人信息安全</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>彩麒麟是一个实名认证平台，平台对用户的信息进行全面保护。用户在使用网站或APP的过程中也要时刻注意保护个人隐私，注重网络运行环境的安全，截图注意覆盖个人信息，不要透露真实姓名与住址等，以防个人信息被盗取造成损失。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <div id="qt1"></div>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">关于资金借出方及资金借入方双方民间借贷的合法性</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>《合同法》第十二章关于借款合同的规定：最高人民法院《关于如何确认公民与企业之间借贷行为效力问题的批复》认为公民与非金融企业之间的借贷属于民间借贷。</span>
                                        </p>
                                        <p>
                                            <span>根据《中华人民共和国合同法》第一百九十六条规定“借款合同是借款人向贷款人借款，到期返还借款并支付利息的合同”，以及《最高人民法院关于人民法院审理借贷案件的若干意见》第一条规定“公民之间的借贷纠纷、公民与法人之间的借贷纠纷以及公民与其他组织之间的借贷纠纷，应作为借贷案件受理”。因此，我国法律允许自然人之间，自然人与法人或其他组织之间发生借贷关系，并允许资金借出方到期收回本金和符合法律规定的利息。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">关于彩麒麟平台提供居间撮合服务的合法性</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>根据《中华人民共和国合同法》第四百二十四条规定“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同。”第四百二十六条规定“居间人促成合同成立的，委托人应当按照约定支付报酬。”</span>
                                        </p>
                                        <p>
                                            <span>“彩麒麟”平台为民间借贷提供居间服务，为借贷双方提供联系、介绍服务，促成借贷双方形成借贷关系的行为有着明确的法律基础。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">关于资金借出方在彩麒麟平台获得收益的合法性</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>根据最高人民法院《关于人民法院审理借贷案件的若干意见》第六条：“民间借贷的利率可以适当高于银行的利率，各地人民法院可以根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍（包含利率本数）。超出此限度的，超出部分的利息不予保护”</span>
                                        </p>
                                        <p>
                                            <span>“彩麒麟”平台上资金借出方向资金借入方出借资金并按照约定利率收取利息，该等利率未超过银行同类贷款利率的四倍，为合法利息收益，受到法律保护。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">关于电子合同的有效性</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>根据《中华人民共和国合同法》第十条的规定“当事人订立合同，有书面形式、口头形式和其他形式。”第十一条的规定，当事人可以采用合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等形式订立合同。电子合同是法律认可的书面合同形式之一。</span>
                                        </p>
                                        <p>
                                            <span>根据《电子签名法》的规定，民事活动中的合同或者其他文件、单证等文书，当事人可以约定使用电子签名、数据电文，不能因为合同采用电子签名、数据电文就否定其法律效力。同时，《电子签名法》中还规定，可靠的电子签名与手写签名或者盖章具有同等的法律效力。明确肯定了符合条件的电子签名与手写签名或盖章具有同等的效力。</span>
                                        </p>
                                        <p>
                                            <span>“彩麒麟”平台采取用户在网上点击确认的方式签署电子合同。点击确认后的电子合同符合《中华人民共和国合同法》规定的合同成立、生效的要件，为合法有效合同。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <div id="qt2"></div>
                            <p style="margin:0 auto;font-weight:bold;font-size:0.18rem;width:6.8rem;margin-bottom:0.3rem;">
                                <span>彩麒麟有严格的风险控制制度，通过严格的贷前管理和完善的贷后管理，从源头控制风险，对借款人的还款能力和还款意愿进行仔细甄别，全力保障投资人的权益。</span><br><span>根据业务模式，对项目分类：</span>
                            </p>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">阿房系列——债权转让模式+房屋抵押</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>阿房系列是彩麒麟提供的北京市区范围内的房屋抵押贷款债权收益权转让服务。为了保证抵押权利的效力和合规性，平台选定合格的放贷人，与原始借款人签订借款和担保文件，办理抵押登记手续并放款，形成有效的债权债务关系。房屋抵押贷款债权人将贷款资产收益权通过彩麒麟网络平台向债权受让人转让。债权收益权转让后，债权转让人负有对基础债权项下借款本息进行催收及清收的义务，若债权转让人从基础债权获取的收益不足以覆盖甲方本金及预期收益，债权转让人将以原债权收益权转让本金及预期收益作为对价，回购债权受让人持有的债权收益权。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">CAR 系列——债权转让模式+车辆抵押</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>CAR系列是彩麒麟提供的北京市的车辆 抵押贷款债权收益权转让服务。为了保证抵押权利的效力和合规性，平台选定合格的放贷人，与原始借款人签订借款和担保文件，办理抵押登记手续并放款，形成有效的债权债务关系。车辆抵押贷款债权人将贷款资产收益权通过彩麒麟网络平台向债权受让人转让。债权收益权转让后，债权转让人负有对基础债权项下借款本息进行催收及清收的义务，若债权转让人从基础债权获取的收益不足以覆盖甲方本金及预期收益，债权转让人将以原债权收益权转让本金及预期收益作为对价，回购债权受让人持有的债权收益权。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">共赢系列——供应链融资</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>1.  克拉系列（存货质押借款+三方动产质押监管+委托销售）</span>
                                        </p>
                                        <p style="padding-left:0.24rem;">
                                            <span>由彩麒麟提供的供应链融资项目，借款人均有良好的供销渠道，通过存货质押的担保方式进行融资，全部质押品均委托专业第三方仓储为质品提供三方动产质押监管；同时还要求借款人委托行业知名企业进行质押商品的到期变现和收购，保障到期本息归还。</span>
                                        </p>
                                        <p style="padding-left:0.24rem;">
                                            <span>克拉系列为共赢系列中专注于优质钻饰贸易公司的供应链融资，每一笔融资借款，均挑选钻饰成品进行质押并委托专业机构进行审验、估值及保管，质押率不高于40%，质押物价值足额覆盖借款本息；第三方对质押商品的出入库管理及成本价值进行流动监管（包括但不限于视频监控、ERP系统监察、库房密码检测、定期及不定期存货盘点等），设置库存冻结线和警戒线，确保质押物的足值。同时，为了保证投资人的本息安全，平台与知名钻饰企业进行合作，借款人将不可撤销地委托其于借款到期日对质押商品进行变现和收购，通过变现和收购的保护价格，及时处置变现，归还出借人的本金及利息。</span>
                                        </p>
                                        <p>
                                            <span>2.  冷链一号系列（担保公司全额本息担保）</span>
                                        </p>
                                        <p style="padding-left:0.24rem;">
                                            <span>共赢系列之冷链一号专注于优质冷链食品贸易公司或个体户的供应链融资，解决冷链行业因季节性和周期性造成的货物采购中的融资需求。为了保证投资人的本息安全，平台与行业性融资担保公司进行合作，由借款人与担保公司签订《质押反担保合同》，对货物进行质押及入库监管；并由担保公司与出借人签订《保证担保合同》，对借款人的借款本息进行保证担保，确保借款本息的安全。</span>
                                        </p>
                                        <p>
                                            <span>3.  冷链二号系列（仓单质押借款+三方仓储质押监管）</span>
                                        </p>
                                        <p style="padding-left:0.24rem;">
                                            <span>共赢系列之冷链二号专注于优质冷链食品贸易公司或个体户的供应链融资，解决冷链行业因季节性和周期性造成的货物采购中的融资需求。质押物价值足额覆盖借款本息；仓储方已对质押商品出具仓单，并办理仓单质押相关手续。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">经赢系列——优质借款企业＋担保</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>经赢系列中，借款人征信状况良好，所运营企业经营状况稳定，整体资产估值较高，有充足的现金流。彩麒麟针对借款人的实际情况，有针对性的要求借款人提供担保措施，保证项目安全。例如北京城郊、乡镇的一些具有稳定现金流的小产权物业质押项目，借款人将租金收益权进行质押，通过对银行账户的监管，保障资金安全。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <div id="qt3"></div>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">彩麒麟如何保证用户的账户安全？</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>彩麒麟上每笔资金交易信息传输均进行加密处理，同时启用手机短信验证码确保本人交易。</span>
                                        </p>
                                        <p>
                                            <span>同时，平台已上线银行存管系统，将用户资金与平台自有资金进行分离，用户资金不经过平台直接存管在银行，由存管银行对用户资金进行监督管理，资金交易均由用户授权操作执行，有效保障用户的资金安全。</span>
                                        </p>
                                        <p>
                                            <span>另外，投资人提现时只能将资金转入与本人实名认证信息一致的银行卡内，杜绝了他人冒充提现的可能性。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <div id="qt4"></div>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">积极拥抱存管，规范自身平台</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span>根据《网络借贷信息中介机构业务活动管理暂行办法》第二十八条“网络借贷信息中介机构应当实行自身资金与出借人和借款人资金的隔离管理，并选择符合条件的银行业金融机构作为出借人与借款人的资金存管机构。”和第三十五条“资金存管机构对出借人与借款人开立和使用资金账户进行管理和监督，并根据合同约定，对出借人与借款人的资金进行存管、划付、核算和监督。”</span>
                                        </p>
                                        <p>
                                            <span>为保障用户资金安全，实现安全与合规化建设，2017年11月，彩麒麟上线银行资金存管系统，用户交易资金由海口联合农商银行全面存管。平台不碰触用户账户资金，不设资金池，符合监管。</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <div id="qt5"></div>
                            <li>
                                <h5 class="color-dark-text fn-clear link">
                                    <p class="fn-left title color-dark-text fn-text-overflow">免责条款</p>
                                    <p class="fn-right mr10"><i class="fa fa-chevron-down"></i></p>
                                </h5>
                                <div class="color-lightgray-bg help-list-item" style="display: none">
                                    <div>
                                        <p>
                                            <span><u>本声明包含网络使用的有关条款。凡浏览本网站及相关网页的用户，均表示接受以下条款。</u></span>
                                        </p><br>
                                        <p style="padding-left:0.24rem; text-indent:-0.24rem;">
                                            <span>1.  本网站只在法律允许的国家中提供本网站所述的产品及服务，所发布的资料无意提供给受法律发布限制的国家的人士或居民使用。本网站提供的产品与服务在法律不允许的国家不构成向任何人士要约邀请，购买投资产品或其他产品服务的邀请。</span>
                                        </p>
                                        <p style="padding-left:0.24rem; text-indent:-0.24rem;">
                                            <span>2.  本公司对本网站中所示的任何商标、公司标志及服务标志拥有所有权。未经本公司的书面批准，任何人不得使用。本网站所刊登的资料受版权保护。未经本公司书面同意，该资料任何部分均不得修改、复制、储存于检索系统、传送、抄袭、分发，或用于任何商业或公开用途。</span>
                                        </p>
                                        <p style="padding-left:0.24rem; text-indent:-0.24rem;">
                                            <span>3.  本网站为用户提供专业的投资服务，需要对客户资质进行评估，并非所有的客户都可以获得所有产品和服务。您是否符合享受产品和服务的条件，最终的解释权归本网站。我们保留对该网站包含的信息和资料及其显示的条款、条件和说明变更的权利。</span>
                                        </p>
                                        <p style="padding-left:0.24rem; text-indent:-0.24rem;">
                                            <span>4.  任何在本网站出现的信息包括但不限于评论、预测、图表、指标、理论、直接的或暗示的指示均只作为参考，您须对任何自主决定的行为负责。</span>
                                        </p>
                                        <p style="padding-left:0.24rem; text-indent:-0.24rem;">
                                            <span>5.  本网站提供的有关评论、投资分析报告、预测文章信息等仅供参考。本网站所提供之公司资料等信息，力求但不保证数据的准确性，如有错漏，请以国家指定机构的公示信息为准。本网站不对因本网站资料全部或部分内容产生的或因依赖该资料而引致的任何损失承担任何责任。</span>
                                        </p>
                                        <p style="padding-left:0.24rem; text-indent:-0.24rem;">
                                            <span>6.  凡通过本网站与其他网站的链接，而获得其所提供的网上资料及内容，您需要自己进行辨别及判断，我们不承担任何责任。</span>
                                        </p>
                                        <p style="padding-left:0.24rem; text-indent:-0.24rem;">
                                            <span>7.  本公司不为于本网站使用的任何第三方软件的准确性、安全性、功能或性能作任何声明或保证。</span>
                                        </p>
                                        <p style="padding-left:0.24rem; text-indent:-0.24rem;">
                                            <span>8.  本网站某些部分或网页可能包括单独条款和条件，作为对本条款和条件的补充，如果有任何冲突，该等附加条款和条件将对相关部分或网页适用。</span>
                                        </p>
                                        <p style="padding-left:0.24rem; text-indent:-0.24rem;">
                                            <span>9.  互联网传输可能会受到干扰，中断、延迟或数据错误，本公司对于非本公司能控制的通讯设施故障可能引致的数据及交易之准确性或及时性不负任何责任。</span>
                                        </p>
                                        <p style="padding-left:0.24rem; text-indent:-0.24rem;">
                                            <span>10.本公司并不就以下事项作出声明或保证：使用本网站时不会中断、出现延误、故障、错误或遗漏或丢失传送的资料；或不会传播病毒或其他污染或毁灭性的产物；或您的电脑系统不会受损害。您须负全责为数据和/或设备作充分保护和备份，并负全责采取合理而适当的预防措施以扫描电脑病毒或其他毁灭性产物。本公司在编制本网站所载信息和资料时已力求审慎。但本公司只能按目前现状提供有关信息，并不作任何明示或暗示的保证。尤其是不作不侵犯版权、资料保密、准确性、合适性或不含计算机病毒等担保。</span>
                                        </p><br>
                                        <p>
                                            <span style="font-weight:bold;"><u>重要事项：您进入本网址及浏览其任何网页，即表示您同意遵守上述条款。</u></span>
                                        </p><br>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {literal}
            <script>
                $(document).ready(function() {
                    var xx = getUrlParam('reurl');
                    xx<6&&xx>0&&!isNaN(xx)?xx=xx:xx=0;
                    var xy;
                    switch(parseInt(xx)){
                        case 0:
                            xy = 0;
                            break;
                        case 1:
                            xy = 2;
                            break;
                        case 2:
                            xy = 6;
                            break;
                        case 3:
                            xy = 10;
                            break;
                        case 4:
                            xy = 11;
                            break;
                        case 5:
                            xy = 12;
                            break;
                        default:
                            xy = 0;
                    }
                    //Default Action
                    $("#accordion li:eq("+xy+")").toggleClass('open'); //Activate first tab
                    $("#accordion .help-list-item:eq("+xy+")").show();
                    if(xx!=0){$('html,body').animate({scrollTop:$("#qt"+xx).offset().top}, 800);}
                });
                function getUrlParam(name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                    if (r != null) return unescape(r[2]); return null; //返回参数值
                }
                var Accordion = function(el, multiple) {
                    this.el = el || {};
                    this.multiple = multiple || false;

                    // Variables privadas
                    var links = this.el.find('.link');
                    // Evento
                    links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
                }
                Accordion.prototype.dropdown = function(e) {
                    var $el = e.data.el;
                        $this = $(this),
                        $next = $this.next();

                    $next.slideToggle();
                    $this.parent().toggleClass('open');

                    if (!e.data.multiple) {
                        $el.find('.help-list-item').not($next).slideUp().parent().removeClass('open');
                    };
                }
                var accordion = new Accordion($('#accordion'), false);
            </script>
            {/literal}            
        </div>
{include file="h5/footer.html"}