{include file="h5/header.html"}
        <link rel="stylesheet" href="assets/css/h5/super.css?v={$data.vtime}">
        <div id="wrap" class="wrap">
            {include file="h5/nav.html"}
            <div class="title"></div>
            <div class="content">
                <p>
                    <span class="list_title">1、网络借贷资金存管业务指引</span>
                    <span class="list_url"><a href="?id=5&subid=1">查看详情<img src="/assets/img/h5/5_2.png" /></a></span>
                </p>
                <hr>
                <p>
                    <span class="list_title">2、网络借贷信息中介机构业务活动信息披露指引</span>
                    <span class="list_url"><a href="?id=5&subid=2">查看详情<img src="/assets/img/h5/5_2.png" /></a></span>
                </p>
                <hr>
                <p>
                    <span class="list_title">3、网络借贷信息中介业务活动管理暂行办法</span>
                    <span class="list_url"><a href="?id=5&subid=3">查看详情<img src="/assets/img/h5/5_2.png" /></a></span>
                </p>
                <hr>
                <p>
                    <span class="list_title">4、网络借贷信息中介机构备案登记管理指引</span>
                    <span class="list_url"><a href="?id=5&subid=4">查看详情<img src="/assets/img/h5/5_2.png" /></a></span>
                </p>
                <hr>
                <p>
                    <span class="list_title">5、北京市网络借贷信息中介机构备案登记<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理办法（试行）（征求意见稿）</span>
                    <span class="list_url"><a href="?id=5&subid=5">查看详情<img src="/assets/img/h5/5_2.png" /></a></span>
                </p>
                <hr>
                <p>
                    <span class="list_title">6、关于做好P2P网络借贷风险专项整治整改<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;验收工作的通知</span>
                    <span class="list_url"><a href="?id=5&subid=6">查看详情<img src="/assets/img/h5/5_2.png" /></a></span>
                </p>
                <hr>
                <p>
                    <span class="list_title">7、关于进一步加强校园贷规范管理工作的通知</span>
                    <span class="list_url"><a href="?id=5&subid=7">查看详情<img src="/assets/img/h5/5_2.png" /></a></span>
                </p>
                <hr>
                <p>
                    <span class="list_title">8、关于整顿“现金贷”业务的通知</span>
                    <span class="list_url"><a href="?id=5&subid=8">查看详情<img src="/assets/img/h5/5_2.png" /></a></span>
                </p>
                <hr>
            </div>
        </div>
{include file="h5/footer.html"}