{include file="h5/header.html"}
        <link rel="stylesheet" href="assets/css/h5/contact.css?v={$data.vtime}">
        <div id="wrap" class="wrap">
            {include file="h5/nav.html"}
            <div class="title_1"></div>
            <div class="content">
                <p>地址：北京市朝阳区望京西路48号金隅国际A座26层</p>
                <p>邮编：100102</p>
                <p>官方网址：www.caiqilin.com</p>
                <p>官方订阅号：caiqilin-com</p>
                <p>官方微博：@彩麒麟官方微博</p>
            </div>
            <div class="title_2"></div>
            <div class="content">
                <p>客服电话：4008-95-2015（工作时间： 9:00-17:00）</p>
                <p>投诉电话：4008-95-2015转2</p>
                <p>客服咨询、投诉及举报邮箱：service@caiqilin.com</p>
                <p>如果您在使用过程中有任何疑问请您通过客服电话或网站在线客服与我们联系。</p>
            </div>
            <div class="title_3"></div>
            <div class="content">
                <p>媒体采访：</p>
                <p>如果有媒体采访需求，请将您的媒体名称、采访提纲、联系方式发至：marketing@caiqilin.com，我们会尽快与您联系。</p>
                <p>商务合作：</p>
                <p>如果贵公司希望与我们建立商务合作关系，请将合作意向进行简要描述并发送邮件至：marketing@caiqilin.com，我们会尽快与您联系。</p>
                <p></p>
                <p>微信公众平台：caiqilin-com（扫描下方二维码关注小麒麟订阅号）</p>
                <p><img src="/assets/img/h5/7_4.png" /></p>
            </div>
        </div>
{include file="h5/footer.html"}