<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <meta name="description" content="{$data.meta_content}"/>
        <meta name="keywords" content=""/>
        <meta content="" name="author"/>
        <title>{$data.web_title}</title>
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/h5/flexible.min.js?v={$data.vtime}"></script>
        <script type="text/javascript" src="/assets/js/h5/layer.js?v={$data.vtime}"></script>
        <link rel="stylesheet" href="assets/css/h5/base.css?v={$data.vtime}">
    </head>

    <body>